body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    list-style: none;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #5e82e7;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 9%;
}


.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}

.banner-area{
    position: relative;
    background-image: url(image/159.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


/********************* banner ****************/
.grid-proflie {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0px;
  }
  .grid-l {
    padding: 80px;
    font-size: 25px;
    position: static;
    padding: 0;
  }
  
  .grid-r .proflie{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: static;
  padding: 50px;
  margin: 50px;
}
.grid-information {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 100px;
    font-size: 15px;
    text-align: center;
  }
.grid-item li{
    margin: 20px auto;
}

.bar{
    background: #353b35;
    display: block;
    height: 2px;
    border: 0px solid rgba(0,0,0,0.3);
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3; 
}
.bar span{
    height: 2px;
    float: left;
    background: #2187e7;
}
.html{
    width: 90%;
}
.css{
    width: 70%;
}
.jquery{
    width: 30%;
}
.javascript{
    width: 40%;
}

/******************** services ***************/

.services-section{
    background: url(image/654769.jpg);
    background-size: cover;
    padding: 60px 0;
  }
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
  }
  .section-title{
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
  }
  .border{
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
  }
  .services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
  }
  
  .service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
  }
  .service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  .service-box:hover .service-icon{
    background: #82ccdd;
    color: #ddd;
  }
  .service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .service-desc{
    font-size: 14px;
  }
  
  @media screen and (max-width:960px) {
    .service-box{
      max-width: 45%;
    }
  }
  
  @media screen and (max-width:768px) {
    .service-box{
      max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .service-box{
      max-width: 100%;
    }
  }